# Dependencies
node_modules/
**/node_modules/

# Production / Build output
dist/
build/
*.local

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
